html, body { margin: 0; padding: 0; height: 100%; }
blockquote { margin-left: 3em; }
blockquote:before { content: '\261E'; margin-left: -3em; position: absolute; }
img, iframe { display: block; margin: auto !important; max-width: 100%; }
table { min-width: 100%; margin: 1.5em auto; }
table th, table td { border: 1px solid #ccc; padding: 0.5em 1em; }
table th { background: #eee; }
h1, h2, h3, h4 { font-weight: 600 !important; color: #444; margin-bottom: .5em;}
pre, code {
    font-family: Menlo, Consolas, Courier, monospace !important;
    border-radius: 0.2em;
    color: #575;
    background: #e5e5e5;
    font-weight: bold;
    font-size: 13px !important;
    line-height: 15px !important;
    overflow: auto;
}
code { padding: 0.1em 0.5em; }
pre {margin: 1.2em 0 !important; padding: 1em; }
pre code { padding: 0; }

.navbar { background: #dee; padding: 0.5em; }
.navbar a { margin: 0 0.2em; }
body {
  margin: 0 auto; padding: 0; max-width: 800px;
  font-family: Georgia, serif;
}
